{% extends 'home.html.twig' %}

{% block body %}
<section class="bg-light my-5 container" style="margin-bottom:30px">
  <div class="row text-center py-3">
      <div class="col-lg-6 m-auto mb-2">
          <h1 class="h1">Shopping Cart</h1>
      </div>
  </div>
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:48%" class="text-center">Product</th>
          <th style="width:12%" class="text-center">Price</th>
          <th style="width:10%" class="text-center">Quantity</th>
          <th style="width:15%" class="text-center">Subtotal</th>
          <th style="width:15%" class="text-center">Action</th>
        </tr>
      </thead>
      {% for p in products %}
      <tbody>
        <tr>
          <td data-th="Product">
            <div class="row">
            {% if p.image %}
              {% set img = p.image %}
              <div class="col-sm-5 hidden-xs"><img src="{{asset('img/'~img)}}" alt="..." width="150px" class="img-responsive" /></div>
              {% endif %}
              <div class="col-sm-7">
                <p class="nomargin"><strong>{{p.productname}}</strong><p>
              </div>
            </div>
          </td>
          <td data-th="Price" class="text-center">${{p.productprice}}</td>
          <td data-th="Quantity" class="text-center">{{p.quantity}}</td>
          <td data-th="Subtotal" class="text-center">${{p.total}}</td>
          <td style="text-align: center">
            <a href="{{path('deleteCart', {'product':p.id})}}"><i class="fa-solid fa-trash"></i></i></a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
      <tfoot>
        <tr>
          <td><a href="{{path('product_show')}}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          {% if total == 0 %}
          {% else %}
          <td class="hidden-xs text-center"><strong>Total: </strong>${{total}}</td>
          <td><a href="{{path('show_order', {'user':app.user.id})}}" class="btn btn-success" style="float: right;">Checkout <i class="fa fa-angle-right"></i></a></td>
          {% endif %}
        </tr>
      </tfoot>
    </table>
  </div>
</section>
{% endblock %}
