{% extends 'home.html.twig' %}

{% block body %}
<section class="bg-light my-5 container">
        <div class="row text-center">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">The order is confirmed.</h1>
                <h2 class="h2">Thank you for using our service!</h2>
            </div>
        </div>
    <section class="order-container">
        <div class="row">
            <div class="row text-center">
                <div class="col-lg-6 m-auto">
                    <h1 class="h2">Your order information:</h1>
                </div>
            </div>
            {% for u in userdata %}
            <div class="col-12 col-md-6 p-3">
                <form id="orderform" name="orderform">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Customer name:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{u.Name}}" name="orderid" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone number:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{u.Phone}}" name="orderid" class="form-control" disabled>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{u.Address}}" name="orderid" class="form-control" disabled>
                        </div>
                    </div> 
                </form>
            </div>
            {% endfor %}
            {% for od in order %}
            <div class="col-12 col-md-6 p-3">
                <form id="orderform" name="orderform">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Order ID:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{od.id}}" name="orderid" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Total:</label>
                        <div class="col-sm-10">
                            <input type="text" value="${{od.total}}" name="orderid" class="form-control" disabled>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Order date:</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{od.date|date("d/m/Y")}}" name="orderid" class="form-control" disabled>
                        </div>
                    </div> 
                </form>
            </div>
            {% endfor %}
            <div class="row text-center mt-4">
                <div class="col-lg-6 m-auto">
                    <h1 class="h2">Order detail</h1>
                </div>
            </div>
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                    <th style="width:45%" class="text-center">Product</th>
                    <th style="width:15%" class="text-center">Price</th>
                    <th style="width:15%" class="text-center">Quantity</th>
                    <th style="width:25%" class="text-center">Subtotal</th>
                    </tr>
                </thead>
                {% for p in orderdetail %}
                <tbody>
                    <tr>
                    <td data-th="Product">
                        <div class="row">
                        {% if p.image %}
                        {% set img = p.image %}
                        <div class="col-sm-5 hidden-xs"><img src="{{asset('img/'~img)}}" alt="..." width="150px" class="img-responsive" /></div>
                        {% endif %}
                        <div class="col-sm-7">
                            <p class="nomargin"><strong>{{p.productname}}</strong><p>
                        </div>
                        </div>
                    </td>
                    <td data-th="Price" class="text-center">${{p.productprice}}</td>
                    <td data-th="Quantity" class="text-center">{{p.quantity}}</td>
                    <td data-th="Subtotal" class="text-center">${{p.total}}</td>
                    </tr>
                </tbody>
                {% endfor %}
                <tfoot>
                    <tr>
                    <td colspan="1" class="hidden-xs"></td>
                    <td colspan="1" class="hidden-xs"></td>
                    <td colspan="1" class="hidden-xs"></td>
                    <td><a href="{{path('product_show')}}" class="btn btn-warning" style="float: right;">Continue shopping <i class="fa fa-angle-right"></i></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</section>
{% endblock %}
